@font-face { font-family: "Courier New"; src: url("https://neaspringer.com/courierNew.ttf");}
@font-face { font-family: "Roboto-Light"; src: url("https://neaspringer.com/Roboto-Light.ttf");}

/*Yellow highlighting instead of blue*/
::-moz-selection { background: yellow; }
::selection { background: yellow; }

/*Main Style*/
body {
	background: url("http://toivoanea.github.io/Background.jpg");
	color: #424242;
    margin-left:23%;
	margin-right:23%;
	font-size: 13pt;
	line-height: 15pt;
	font-family: "Roboto-Light", monospace;
    word-wrap: break-word;
}

/*Spacing Divs (I know that's a sin!)*/
.divNoSpace {
	margin-top: 1%;
}
.divSpace {
	margin-top: 2%;
}
.divFewSpace {
	margin-top: 3%;
}
div.navBar {
	background-color:rgba(190,190,190,0.2);
	border-radius: 7px;
	padding:13px;
}
div.head {
	padding:13px;
}
	
/*Link styling*/
a {
	color: inherit;
	text-decoration: none;
}
a.bar {
	font-size: 16pt;
	padding:10px;
}
a:hover, a.bar:hover {
	font-weight: bold;
}

/*SFX*/
h1 {
	font-size: 22pt;
}
r {
	float: right;
}
b {
	font-weight: bold;
}
in {
	margin-left:3.5%;
}
g {
	/*Placeholder*/
}


/*Lists (Credits, Scripts)*/
.year {
	background-color:rgba(190,190,190,0.2);
	border-radius: 7px;
	padding:13px;
	font-size: 18pt;
	text-align: center;
}
.line, .lineL, .lineC, .lineCL, .lineCG, .lineG, .lineF, .lineFG, .lineFL, .lineFC {
	margin-left:2.5%;
	margin-right:2.5%;
	line-height: 22pt;
}
.name, .nameLink {
	font-size:14pt;
	font-weight: bold;
}
.nameLink:hover {
	text-decoration: underline;
}

/*Dropdowns*/
details[Open] {
	background-color: rgba(190,190,190,0.2);
	border-radius: 7px;
}
summary {
      display: block;
      cursor:pointer;
}

/*Sixteen by Nine Video*/
#sixteennine {
	height: 56.25%;
}

/*showcase */
.slideshow-container {
  position: relative;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #dddddd;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.selector {
  cursor: pointer;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.active, .selector:hover {
  font-weight: bold;
}

/*mobile and narrow sizes*/
@media all and (max-aspect-ratio: 4/3) {
	body {
		margin-left:0%;
		margin-right:0%;
		font-size: 3vw;
		line-height: 3.4vw;
      	}
	h1 {
		font-size: 4vw;
	}
	div.head, .year, .text {
		margin-left:2.5%;
		margin-right:2.5%;
	}
	div.year {
		font-size: 3.8vw;
	}
	div.head {
		padding:0%;
		margin-bottom: 5%;
	}
	.name, .nameLink {
		font-size:3.2vw;
	}
	.line, .lineL, .lineC, .lineCL, .lineCG, .lineG, .lineF, .lineFG, .lineFL, .lineFC {
		font-size:3vw;
		line-height: 3.4vw;
		margin-bottom: 1.5vw;
	}
	/*Sending the Subheadings to the next line*/
	g {
		display: block;
	}
	/*Upscaling the Nav Bar*/
	a.bar {
		font-size: 3.8vw;
	}
	img.social {
		width: 3.8vw;
	}
}
