@font-face { font-family: "Courier Prime"; src: url("https://writerduet.com/font/Courier_Prime.ttf");}
@font-face { font-family: "Courier Prime"; src: url("https://writerduet.com/font/Courier_Prime_Bold.ttf"); font-weight: bold; }

/*Yellow highlighting instead of blue*/
::-moz-selection { background: yellow; }
::selection { background: yellow; }

/*Main Style*/
body {
	background: url("http://toivoanea.github.io/Background.jpg");
	color: #424242;
    	margin-left:25%;
	margin-right:25%;
	font-size: 13pt;
	line-height: 15pt;
	font-family: "Courier Prime", "Courier New", monospace;
    	word-wrap: break-word;
}

/*Spacing Divs (I know that's a sin!)*/
.divNoSpace {
	margin-top: 1%;
}
.divSpace {
	margin-top: 2%;
}
.divFewSpace, div.head {
	margin-top: 3%;
}

/*Link styling*/
a {
	color: #424242;
	text-decoration: none;
}
a.bar {
	font-size: 16pt;
	padding:10px;
}
a:hover, a.bar:hover {
	font-weight: bold;
}

/*SFX*/
h1 {
	font-size: 22pt;
}
r {
	float: right;
}
b {
	font-weight: bold;
}


/*Lists (Credits, Scripts)*/
.year {
	background-color:rgba(190,190,190,0.2);
	border-radius: 7px;
	padding:13px;
	font-size: 18pt;
}
.line, .lineL, .lineC, .lineCL, .lineG {
	margin-left:2.5%;
	margin-right:2.5%;
	line-height: 22pt;
}
.name, .nameLink {
	font-size:14pt;
	font-weight: bold;
}
.nameLink:hover {
	text-decoration: underline;
}

/*Sixteen by Nine Video*/
#sixteennine {
	height: 56.25%;
}

/*mobile and narrow sizes*/
@media all and (max-aspect-ratio: 4/3) {
	body {
		margin-left:0%;
		margin-right:0%;
      	}
	div.head, .year, .text {
		margin-left:2.5%;
		margin-right:2.5%;
	}
	
}
@media all and (max-aspect-ratio: 1/1) {
	body {
		font-size: 20pt;
		line-height: 22pt;
      	}
	.name, .nameLink, {
		font-size: 20pt;
		line-height: 22pt;
      	}
	h1 {
		font-size: 24pt;
	}
	.year, a.bar {
		font-size: 22pt;
	}
}

/*scripts*/
 #script {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 615px;
        font-size: 12pt;
        line-height: 12pt;
    }
    
    @media screen and (max-width: 615px) {
        #script {
            margin-left: 0;
            margin-right: 0;
        }
    }

div.page_num {
	float: right;	
}

.Action, .Slugline, .Shot, .Act, .Transition, .Text, .Character, .Paren, .Dialog {
	white-space: pre-wrap;
}
   
.Slugline, .Shot, .Act, .Transition, .Character  { text-transform: uppercase; }
.Slugline { font-weight: bold; }
.Act { text-align: center; text-decoration: underline; }
.Action, .Text, .Act, .Slugline, .Shot, .Transition { margin-top: 1em; max-width: 615px; width: 100%; }
.Character { margin-top: 1em; max-width: 385px; }
.Slugline, .Shot { margin-top: 2em; }
.Transition { text-align: right; }
.Paren { margin-left: 15%; max-width: 245px; }
.Dialog { max-width: 355px; }
.Character { margin-left: 34%; }
.Paren { margin-left: 23.5%; margin-right: 15%; }
.Dialog { margin-left: 17%; margin-right: 10%; }
.Clear { clear: both; }
.Dual { float: left; width: 48%; }
.Left { padding-right: 2%; }
.Right { padding-right: 2%; }
    
.Dual .Character { margin-left: 0; text-align: center; }
.Dual .Paren { margin-left: 9%; margin-right: 9%; }
.Dual .Dialog { margin-left: 0; margin-right: 0; }
